.MovieEdit {
    margin: 20px auto;
    width: 85%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.MovieEdit img {
    float: left;
    padding: 4px;
    margin: 0 6px 4px 0;
    width: 300px;
    height: 445px;
}

.MovieEdit form {
    width: 75%;
    display: inline-block;
}

@media (max-width: 1600px){
    .MovieEdit form{
        width: 70%;
    }
}

@media (max-width: 1360px){
    .MovieEdit form{
        width: 60%;
    }
}

@media (max-width: 1030px){
    .MovieEdit form{
        width: 50%;
    }
    .MovieEdit img {
        display: block;
        margin: 10px auto;
        width: 300px;
        height: 445px;
        float: none;
    }

}