.Button {
    background-color: transparent;
    border: 2px double #eee;
    border-radius: 15px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #40A4C8;
}

.Danger {
    color: #941f17;
}